{% macro loop(page) %}
    {% for p in page.children.visible %}
        {% set current_page = (p.active or p.activeChild) ? 'selected' : '' %}
        {% if p.children.visible.count > 0 %}
            <li class="has-children {{ current_page }}">
                <a href="{{ p.url }}">
                    {% if p.header.icon %}<i class="fa fa-{{ p.header.icon }}"></i>{% endif %}
                    {{ p.menu }}
                </a>
                <ul>
                    {{ _self.loop(p) }}
                </ul>
            </li>
        {% else %}
            <li class="{{ current_page }}">
                <a href="{{ p.url }}">
                    {% if p.header.icon %}<i class="fa fa-{{ p.header.icon }}"></i>{% endif %}
                    {{ p.menu }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
{% endmacro %}

<ul>
    {% if theme_config.dropdown.enabled %}
        {{ _self.loop(pages) }}
    {% else %}
        {% for page in pages.children.visible %}
            {% set current_page = (page.active or page.activeChild) ? 'selected' : '' %}
            <li class="{{ current_page }}">
                <a href="{{ page.url }}">
                    {% if page.header.icon %}<i class="fa fa-{{ page.header.icon }}"></i>{% endif %}
                    {{ page.menu }}
                </a>
            </li>
        {% endfor %}
    {% endif %}
    {% for mitem in site.menu %}
        <li>
            <a href="{{ mitem.url }}">
                {% if mitem.icon %}<i class="fa fa-{{ mitem.icon }}"></i>{% endif %}
                {{ mitem.text }}
            </a>
        </li>
    {% endfor %}
</ul>


<nav class="navbar navbar-expand-md bg-light navbar-dark">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right text-dark" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent"
                aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center justify-content-center" id="navbar2SupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-dark text-uppercase" href="#kisi">
                            <!-- <i class="fa d-inline fa-lg fa-bookmark-o pr-1"></i> -->
                            der EasYkisi
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark text-uppercase" href="#dates">
                            <!-- <i class="fa d-inline fa-lg fa-bookmark-o"></i> -->
                            DatEs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark text-uppercase" href="#geschichte">
                            <!-- <i class="fa d-inline fa-lg fa-bookmark-o"></i> -->
                            die GesChIchTe
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark text-uppercase" href="#sound">
                            <!-- <i class="fa d-inline fa-lg fa-bookmark-o"></i> -->
                            der SouNd
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark text-uppercase" href="#bastler">
                            <!-- <i class="fa d-inline fa-lg fa-bookmark-o"></i> -->
                            die MacHer
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark text-uppercase" href="#partner">
                            <!-- <i class="fa d-inline fa-lg fa-bookmark-o"></i> -->
                            die ParTner
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark text-uppercase" href="#kontakt">
                            <!-- <i class="fa d-inline fa-lg fa-bookmark-o"></i> -->
                            KonTakt
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

